<?php
header("Access-Control-Allow-Origin: *");
header("Access-Control-Allow-Credentials: true");
header("Access-Control-Allow-Headers: Content-Type,Content-Length,Accept-Encoding,X-Requested-with, Origin");
header("HTTP/1.1 404");
?>
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" />
    <meta name="renderer" content="webkit" />
    <meta name="force-rendering" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="keywords" content="<?= __DATA__['keywords'] ?>">
    <link rel="Shortcut Icon" href="/favicon.ico">
    <link rel="bookmark" href="/favicon.ico" type="image/x-icon" />
    <script src="/assets/js/jquery-3.7.1.min.js"></script>
    <script src="https://registry.npmmirror.com/mdui/2.1.0/files/mdui.global.js"></script>
    <script src="/assets/js/init.js"></script>
    <script src="/assets/js/marked.min.js"></script>
    <title>
        <?= "404 - " . __DATA__["title"] ?>
    </title>
</head>

<body>
    <?php include __TEMPLATE_DIR__ . DIRECTORY_SEPARATOR . "Home" . DIRECTORY_SEPARATOR . "public.html"?>
    <div class="col-3">
        <div class="left">
            <mdui-card class="archives sider1">
                <mdui-list style="width: 100%;">
                    <?=$announce_list?>
                </mdui-list>
            </mdui-card>
        </div>
        <div class="center">
            <mdui-card>
                <header class="post-header text-center">
                    <a class="post-title" id="title" href="">这个页面找不到了</a>
                    <div class="post-meta">
                        <div class="post-meta-detail">最初的声音，无限的未来</div>
                    </div>
                </header>
                <div class="post-content">
                    <p>你可以尝试访问其他页面或向网络管理员咨询帮助</p>
                </div>
            </mdui-card>
            <footer class="text-center">
                <mdui-card>
                    <span id="record">
                        <?=__DATA__['record']?>
                    </span>
                    <span id="copyright">&copy;
                        <?=__DATA__['copyright']?>
                    </span>
                </mdui-card>
            </footer>
        </div>
        <div class="right">
            <mdui-card class="overview sider2">
                <?=$overview?>
            </mdui-card>
        </div>
    </div>
</body>

</html>