<?php
if (preg_match('#/archives/(\d+)#', $_SERVER['REQUEST_URI'], $matches)) {
    $id = $matches[1];
} else {
	die(include_once(__TEMPLATE_DIR__ . DIRECTORY_SEPARATOR . "Home" . DIRECTORY_SEPARATOR . "404.html"));
}
$sql = "SELECT * FROM miku_archives WHERE id = :id";
$statement = $DATABASE->prepare($sql);
$statement->execute([":id" => $id]);
$data = $statement->fetch(PDO::FETCH_ASSOC);
if ($data == null) {
	die(include_once(__TEMPLATE_DIR__ . DIRECTORY_SEPARATOR . "Home" . DIRECTORY_SEPARATOR . "404.html"));
}
?>

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" />
    <meta name="renderer" content="webkit" />
    <meta name="force-rendering" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="keywords" content="<?= __DATA__['keywords'] ?>">
    <link rel="Shortcut Icon" href="/favicon.ico">
    <link rel="bookmark" href="/favicon.ico" type="image/x-icon" />
    <script src="/assets/js/jquery-3.7.1.min.js"></script>
    <script src="https://registry.npmmirror.com/mdui/2.1.0/files/mdui.global.js"></script>
    <script src="/assets/js/init.js"></script>
    <script src="/assets/js/marked.min.js"></script>
    <title>
        <?= $data["title"] . " - " . __DATA__["title"] ?>
    </title>
</head>

<body>
    <?php include __TEMPLATE_DIR__ . DIRECTORY_SEPARATOR . "Home" . DIRECTORY_SEPARATOR . "public.html"?>
    <div class="col-3">
        <div class="left">
            <mdui-card class="archives">
                近期公告
                <mdui-list style="width: 100%;max-height:30vh;overflow:auto">
                    <?=$announce_list?>
                </mdui-list>
            </mdui-card>
        </div>
        <div class="center">
            <mdui-card>
                <noscript>
                    <div style="text-align: center;margin-top: 10%;">
                        <h4>
                            Sorry, the web page requires a Javascript runtime environment, please allow you to run
                            scripts
                            or use a new version of the modern browser.
                        </h4>
                        <p>
                            It is recommended to use
                            <a href="https://www.microsoft.com/edge/download">
                                Edge
                            </a>
                            modern browser.
                        </p>
                    </div>
                </noscript>
                <header class="post-header text-center">
                    <a class="post-title" id="title" href=""><?=$data["title"]?></a>
                    <div class="post-meta">
                        <div class="post-meta-detail">
                            <mdui-icon name="account_circle" style="font-size: 14.5px;"></mdui-icon>
                            <span id="author"><?=$data["author"]?></span>
                        </div>
                        <div class="post-meta-devide">|</div>
                        <div class="post-meta-detail">
                            <mdui-icon name="access_time" style="font-size: 14.5px;"></mdui-icon>
                            <time id="update_time" datetime="发布于 <?=$data['date']?> | 编辑于 <?=$data['modified']?>"><?=$data['modified']?></time>
                        </div>
                        <div class="post-meta-devide">|</div>
                        <div class="post-meta-detail">
                            <mdui-icon name="bookmark_border" style="font-size: 14.5px;"></mdui-icon>
                            <span id="type"><?=$data['type']?></span>
                        </div>
                    </div>
                </header>
                <div class="post-content"><?=$data['content']?></div>
            </mdui-card>
            <footer class="text-center">
                <mdui-card>
                    <span id="record">
                        <?=__DATA__['record']?>
                    </span>
                    <span id="copyright">&copy;
                        <?=__DATA__['copyright']?>
                    </span>
                </mdui-card>
            </footer>
        </div>
        <div class="right">
            <mdui-card class="overview"><?=$overview?></mdui-card>
        </div>
    </div>
</body>

</html>