<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" />
    <meta name="renderer" content="webkit" />
    <meta name="force-rendering" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="Shortcut Icon" href="/favicon.ico">
    <link rel="bookmark" href="/favicon.ico" type="image/x-icon" />
    <title>安装MikuAPI</title>
    <script src="/assets/js/jquery-3.7.1.min.js"></script>
    <script src="/assets/js/init.js"></script>
    <script src="https://registry.npmmirror.com/mdui/2.0.6/files/mdui.global.js"></script>
</head>

<body>

    <?php
    if (isset($_POST["action"]) && $_POST["action"] == "install") {
        try {
            $db = $_POST["database"];
            $bind = "mysql:host={$_POST["host"]};dbname={$db}";
            $username = $_POST["username"];
            $password = $_POST["password"];
            $DATABASE = new PDO($bind, $username, $password);
            $DATABASE->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION);
            $connect = "<?php\n";
            $connect .= "\t\$bind = \"{$bind}\";\n";
            $connect .= "\t\$username = \"{$username}\";\n";
            $connect .= "\t\$password = \"{$password}\";\n";
            $connect .= "\t\$DATABASE = new PDO('$bind', '$username', '$password');\n";
            $connect .= "\$DATABASE->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION);";

            @mkdir(__CORE_DIR__ . "/Config");
            $file = fopen(__CORE_DIR__ . "/Config/connect.php", "w");
            fwrite($file, $connect);
            fclose($file);
            $DATABASE->exec("CREATE TABLE IF NOT EXISTS miku_data (
                idx TEXT,
                content TEXT,
                des TEXT,
                belong TEXT,
                time TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
            )");
            try {
                $DATABASE->exec("CREATE UNIQUE INDEX idx_miku_data ON miku_data (idx(50), belong(20))");
            } catch (Exception $e) {
            }
            $DATABASE->exec("CREATE TABLE IF NOT EXISTS miku_users (
                id INTEGER NOT NULL AUTO_INCREMENT,
                username TEXT,
                password TEXT,
                token TEXT,
                apikey TEXT,
                permission INTEGER,
                regtime TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
                logtime TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
                PRIMARY KEY (id)
            )");
            try {
                $DATABASE->exec("CREATE INDEX idx_miku_users ON miku_users (username(50))");
            } catch (Exception $e) {
            }
            $DATABASE->exec("CREATE TABLE IF NOT EXISTS miku_archives (
                    id INTEGER NOT NULL AUTO_INCREMENT,
                    title TEXT,
                    content TEXT,
                    author TEXT,
                    type TEXT,
                    date TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
                    modified TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
                    PRIMARY KEY (id)
                )");
            $DATABASE->exec("INSERT INTO miku_archives (title, content, author, type) 
                VALUES ('欢迎使用MikuAPI', '这是系统默认生成的公告，你可以<code>删除</code>,<code>编辑</code>它', '{$username}', 'announce');
            ");
            try {
                $DATABASE->exec("CREATE INDEX idx_miku_archives ON miku_archives (title(50), author(50)");
            } catch (Exception $e) {
            }
            $stmt = $DATABASE->prepare("REPLACE INTO miku_users (username, password, regtime, permission) VALUES (:username, :password, :regtime, :permission)");
            $stmt->bindParam(":username", $_POST["usr"]);
            $stmt->bindValue(":password", hash("sha256", $_POST["pwd"]));
            $stmt->bindValue(":regtime", date("Y-m-d H:i:s"));
            $stmt->bindValue(":permission", 9);
            $stmt->execute();

            $dbData = [];
            $stmt = $DATABASE->query("SELECT idx FROM miku_data WHERE belong = 'option'");
            while ($row = $stmt->fetch(PDO::FETCH_ASSOC)) {
                $dbData[] = $row["idx"];
            }

            $itemsToAdd = array_diff(array_keys(__OPTION_LIST__), $dbData);
            $itmsToDelete = array_diff($dbData, array_keys(__OPTION_LIST__));

            if (!empty($itemsToAdd)) {
                $sqlAdd = "REPLACE INTO miku_data (idx, content, des, belong) VALUES (:idx, :value, :des, 'option')";
                $stmtAdd = $DATABASE->prepare($sqlAdd);
                foreach ($itemsToAdd as $item) {
                    $stmtAdd->bindParam(":idx", $item);
                    $stmtAdd->bindValue(":value", __OPTION_LIST__[$item]["value"]);
                    $stmtAdd->bindValue(":des", __OPTION_LIST__[$item]["des"]);
                    $stmtAdd->execute();
                }
            }

            if (!empty($itemsToDelete)) {
                $sqlDelete = "DELETE FROM miku_data WHERE idx = :idx AND belong = 'option'";
                $stmtDelete = $DATABASE->prepare($sqlDelete);
                foreach ($itemsToDelete as $item) {
                    $stmtDelete->bindParam(":idx", $item);
                    $stmtDelete->execute();
                }
            }

            $DATABASE->exec("CREATE TABLE IF NOT EXISTS miku_access (
                id INTEGER NOT NULL AUTO_INCREMENT,
                time TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
                ip TEXT,
                url TEXT,
                method TEXT(100),
                referer TEXT(100),
                param TEXT(200),
                agent TEXT(100),
                PRIMARY KEY (id)
            )");
            try {
                $DATABASE->exec("CREATE INDEX idx_miku_access ON miku_access (time(50), ip(50), url(50), referer(50))");
            } catch (Exception $e) {
            }

            $DATABASE->exec("CREATE TABLE IF NOT EXISTS miku_api (
                    uuid VARCHAR(36),
                    name TEXT,
                    version TEXT,
                    author TEXT,
                    method TEXT,
                    profile TEXT,
                    request TEXT,
                    response TEXT,
                    class TEXT,
                    url_path TEXT,
                    file_path TEXT,
                    type TEXT,
                    top TEXT,
                    status TEXT,
                    time TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
                    PRIMARY KEY (uuid)
                );");
            try {
                $DATABASE->exec("CREATE INDEX idx_miku_api ON miku_api (name(50))");
            } catch (Exception $e) {
            }
            file_put_contents(__CORE_DIR__.'/install.lock', true);
            ?>
    <div class="grid">
        <div></div>
        <mdui-card>
            <h3>安装成功</h3>
            <p>建议先<a href="/miku">登录后台</a>更新API数据</p>
            <mdui-button href="/">进入前台</mdui-button>
            <mdui-button href="/miku">管理员登录</mdui-button>
        </mdui-card>
        <div></div>
    </div>
    <?php
        } catch (Exception $e) {
        ?>
    <div class="grid">
        <div></div>
        <mdui-card>
            <h3>安装失败</h3>
            <mdui-button href="/">重试</mdui-button>
            <p>原因如下</p>
            <mdui-text-field autosize readonly value="<?= $e ?>"></mdui-text-field>
        </mdui-card>
        <div></div>
    </div>
    <?php }
    } else { ?>
    <div class="grid" style="justify-content: center;align-items: center;display: flex;">
        <mdui-card style="max-width: 500px;">
            <h3>欢迎使用MikuAPI</h3>
            <p>你正在安装<b>MikuAPI
                    <?= __DATA__["version"] ?>
                </b></p>
            <p>请输入以下内容来完成安装程序</p>
            <form action="install" method="post">
                <mdui-text-field type="hidden" name="action" value="install"></mdui-text-field>
                <mdui-text-field name="usr" helper="管理员用户名" value="miku"></mdui-text-field>
                <mdui-text-field name="pwd" helper="管理员密码" placeholder="password"></mdui-text-field>
                <mdui-text-field name="host" helper="MYSQL服务器地址" value="127.0.0.1:3306"></mdui-text-field>
                <mdui-text-field name="username" helper="MYSQL用户名" value="root"></mdui-text-field>
                <mdui-text-field name="password" helper="MYSQL密码" placeholder="password"></mdui-text-field>
                <mdui-text-field name="database" helper="MYSQL数据库名称" placeholder="database"></mdui-text-field>
                <mdui-button type="submit">确定</mdui-button>
            </form>
        </mdui-card>
    </div>

    <?php } ?>
</body>

</html>